# OS or Editor folders
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
_coverage
coverage
vendor
build
