# OS or Editor folders
.idea
.cache
.project
.settings
.tmproj
*.esproj
.c9

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.vi
*~
*.sass-cache

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
_coverage
coverage
vendor
build
