<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  colors="false"
  processIsolation="false"
  stopOnFailure="true"
  syntaxCheck="true"
  backupGlobals="false"
  backupStaticAttributes="false"
  forceCoversAnnotation="false"
  mapTestClassNameToCoveredClassName="false"
  bootstrap="bootstrap.core.php">

  <testsuites>
    <testsuite name="Pimf">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      <directory suffix=".php">core</directory>
      <exclude>
       <file>bootstrap.core.php</file>
      </exclude>
    </whitelist>
  </filter>

    <logging>
   		<log type="coverage-html"
   			target="./coverage/"
   			charset="UTF-8"
   			yui="true"
   			highlight="true"
   			lowUpperBound="50"
   			highLowerBound="80"
   		/>
   		<log type="coverage-clover" target="./clover.xml" charset="UTF-8"/>
   	</logging>

</phpunit>
